<div class="jumbotron">
    <button class="btn btn-info" id="addToCart">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Add to shopping cart
    </button>
        <!--It won't work because of # in url-->
        <a class="btn btn-info" href="https://twitter.com/share" class="twitter-share-button" data-text="I am using E-store and I really like this product!" data-size="large">Share on Twitter</a>
    <div class="row" id="{{id}}">
        <div class="col-md-2">
            <h2>
                <strong>Name: </strong>
            </h2>
            <p>
                <strong>Price: </strong>
            </p>
            <p>
                <strong>Description: </strong>
            </p>
        </div>
        <div class="col-md-5">
            <h2 class="text-warning">{{name}}</h2>
            <p class="text-success">{{price}} $</p>
            <p>{{description}}</p>
        </div>
        <div class="col-md-5">
            <img src="{{imgSource}}" class="img-responsive" alt=""/>
        </div>
    </div>
</div>